{% extends 'hcseduapp/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ curr_question.questionid }}
{% endblock %}


{% block body_block %}

    <div class="container">
    <div class="jumbotron" id="container_all">
        <h3 align="left" id="question">Q. {{ curr_question.questionid }}</h3>
        <div class="jumbotron" id="jumbotron_content">
            <h5 align="left">Topic: {{ curr_question.topic }}</h5>
            <p class="lead">{{ curr_question.description }}</p>

            {% if curr_question.video %}
                <div class="row">
                    <video controls width='100%'>
                        <source src="{{ MEDIA_URL }}{{ curr_question.video }}" type="video/mp4"></source>
                        <source src="{{ MEDIA_URL }}{{ curr_question.video }}" type="video/webm"></source>
                        <source src="{{ MEDIA_URL }}{{ curr_question.video }}" type="video/ogg"></source>
                    </video>
                </div>
            {% endif %}

            {% if curr_question.image %}
                <div align="center">
                    <img src="{{ MEDIA_URL }}{{ curr_question.image }}" alt="{{ curr_question.image }}">
                </div>
            {% endif %}

            <div >
                {% if curr_question.type == "Free Text" %}
                    {%  if curr_question.ifsingle %}
                        {% for option in single_options %}
                            <table class="table" width="300">
                                <tbody>
                                <tr>
                                    <td width="50"><input class="radio" id="{{ option.id }}" type="radio" name="singleoption" value="{{ option.opno }}"></td>
                                    <td align="left" width="50">{{ option.opno }}</td>
                                    <td align="left">{{ option.opcontent }}</td>
                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    {%  endif %}
                    <textarea required type="text" id = "freeanswer" name="{{ field.name }}" placeholder="{{ field.label }}" rows="8"
                              cols="80"></textarea>
                {% elif curr_question.type == "Multiple Choice" %}
                    {% for option in multi_options %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td width="50"><input class="check" id="{{ option.id }}" type="checkbox" name="option" value="{{ option.opno }}"></td>
                                <td align="left" width="50">{{ option.opno }}</td>
                                <td align="left">{{ option.opcontent }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% elif curr_question.type == "Assertion Reason" %}
                    {% for option in assrea_options %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td width="50"><input class="check" id="{{ option.id }}" type="checkbox" name="option" value="{{ option.opno }}"></td>
                                <td align="left" width="50">{{ option.opno }}</td>
                                <td align="left">{{ option.opcontent }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        <div id="all_button">
            <div id="button_submit">
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="verify()" >Submit</button>
            </div>
            <div id="button_withoutredo" style="visibility: hidden">
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="nextQue()" >Next</button>
            </div>
            <div id="button_next" style="visibility: hidden">
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="redoQue()" >Redo</button>
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="nextQue()" >Next</button>
            </div>
            <div id="button_link" style="visibility: hidden">
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="next_LinkedQ()" >Next</button>
            </div>
            <div id="button_last" style="visibility: hidden">
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="verify_end()" >Submit</button>
            </div>
            <div id="button_next_last" style="visibility: hidden">
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="finalredoQue()" >Redo</button>
                <button class="btn btn-lg btn-primary" id="button" href="" role="button" onclick="showEnd()" >Next</button>
            </div>
            <div id="button_end" style="visibility: hidden">
                <a class="btn btn-lg btn-primary" id="button" href="{% url 'myhistory' %}" role="button">View Training History</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}
