{% extends 'hcseduapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block body_block %}
<div class="container">
    {% if registered %}
        <div class="jumbotron">
        <h4>Thank you for registering!</h4>
        <div >
          <button class="btn btn-lg btn-primary" type="submit" name="submit"><a style="color: #ffffff" href="{% url 'login' %}">Login</a></button>
        </div>
        </div>
    {% else %}

        <div class="container">
        <div class="jumbotron">
            <h3  align="center">Sign up</h3>
          {% for error in user_form.errors %}
            <div class="alert alert-danger" role="alert">
              <strong>Require Appropriate</strong> {{error}}
            </div>
          {% endfor %}
          {% for error in profile_form.errors %}
            <div class="alert alert-danger" role="alert">
              <strong>Required Appropriate</strong> {{error}}
            </div>
          {% endfor %}
        </div>


          <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            <div>
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-group">
                        <input required type="text" class="form-control" name="username" size="50" placeholder="username">
                     </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <input required type="password" class="form-control" name="password" size="50" placeholder="password">
                    </div>
                </div>

                <div class="form-group">
                     <div class="form-group">
                        <input required type="email" class="form-control" name="email" size="50" placeholder="email">
                    </div>
                </div>




                <div class="jumbotron">
                    <button class="btn btn-lg btn-primary" type="submit" name="submit">Register</button>
                </div>


            </div>
          </form>
      </div>



    {% endif %}
    </div>
{% endblock %}
